<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Conditional statements in Jinja2</h1>

    <H2>Available {{company}} products</H2>
    {% if company == "Apple"%}
    <ul>
        <li>Macbook</li>
        <li>Iphone</li>
        <li>Ipad</li>
    </ul>

    {% elif company == "Microsoft"%}
    <ul>
        <li>Windows</li>
        <li>Laptop/li>
        <li>Desktop</li>
    </ul>

    {% endif %}

</body>
</html>