<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Expressions in Jinja2</h1>

  <h2>Interpolation</h2>

  <p>A quick {{ color }} {{ animal_one }} jumps over the lazy {{ animal_two }}</p> 

  <h2>Addition and Subtraction</h2>

  <p>Alice bought {{ orange_amount }} oranges and {{ apple_amount }} apples</p>

  <p>In total she has {{ orange_amount + apple_amount }} fruits</p>

  <p>She gave {{ donate_amount }} fruits to Bob</p>

  <p>Now she has {{ orange_amount + apple_amount - donate_amount }} fruits remaining</p>

  <h2>String Concatenation</h2>

  <p>A lot of people think {{ first_name + ' ' + last_name }} is the most powerful Marvel character</p>
</body>
</html>